html {
     height: 100%;
 }
body {
    margin:0;
    padding:0;
    background: #20292E;
    font-family:'Montserrat',sans-serif;
    font-size:12px;
}
ul {
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
li {
    padding:0;
    margin:0;
}
nav {
    text-align:center;
    width:100%;
    position:relative;
    height:auto;
    overflow:hidden;
    background:none;
}
nav ul {
    text-align:center;
}
nav ul li {
    display:inline-block;
}
nav ul li a {
    color:#C3E88D;
    display:inline-block;
    padding:1em 3em;
    text-decoration:none;
    border-bottom:2px solid #263238;
    transition-property: all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size:16px;
}
nav ul li a:hover {
    border-radius: 25px;
    color: #779BE8;
    border: 2px solid #C3E88D;
    box-sizing: content-box;
}
/*styling open close button*/
.button {
    display:inline;
    position:absolute;
    right:50px;
    top:6px;
    z-index:999;
    font-size:30px;
}
.button a {
    text-decoration:none;
}
.btn-open:after {
    color:#C3E88D;
    content:"\f0c9";
    font-family: "FontAwesome", serif;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
    color:#C3E88D;
}
.btn-close:after {
    color:#20292E;
    content:"\f00d";
    font-family: "FontAwesome", serif;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
    color: #20292E;
}
div#authentication-box{
    position: absolute;
    top: 25%;
    left:35%;
    width:30%;
    height: 200px;
}