html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family:'Montserrat',sans-serif;
    font-size:12px;
    background: #20292E;
    background: -moz-linear-gradient(top, #20292E 0%, #009688 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20292E), color-stop(100%, #009688));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #20292E 0%, #009688 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #20292E 0%, #009688 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #20292E 0%, #009688 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #20292E 0%, #009688 100%);
    /* W3C */
}
nav {
    text-align:center;
    width:100%;
    position:relative;
    height:auto;
    overflow:hidden;
    background:none;
}
nav ul {
    text-align:center;
}
nav ul li {
    display:inline-block;
}
nav ul li a {
    color:#C3E88D;
    display:inline-block;
    padding:1em 3em;
    text-decoration:none;
    border-bottom:2px solid #263238;
    transition-property: all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size:16px;
}
nav ul li a:hover {
    border-radius: 25px;
    color: #779BE8;
    border: 2px solid #C3E88D;
    box-sizing: content-box;
}
#photos {
    opacity: .88;
}

#photos img {
    width: 30%;
    height: 300px;
    float: left;
    display: block;
    margin: 2px;
    border-radius: 8px;
    object-fit: cover;
}
ul {
    list-style: none;
    margin:  auto;
    padding: 10px;
    display: block;
    max-width: 100%;
    text-align: center;
}

#overlay {
    background: rgba(0,0,0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#overlay img {
    margin: 10% auto 0;
    width: 550px;
    border-radius: 5px;
}

#photos {
    width: 100%;
}

#photo-gallery {
    width: 100%;
}
#edit-media a{
    position: fixed;
    bottom: 35px;
    right:35px;
    outline: transparent;
    color: #D1A5ED;
    font-family:'Montserrat',sans-serif;
    font-size:16px;
    background: transparent;
    height: fit-content;
    width: fit-content;
    border: transparent;
    padding: 20px;
}
#edit-media a:hover{
    border-radius: 25px;
    color: #C3E88D;
    box-sizing: content-box;
    border: 2px solid #B7C3CA;
}