doctype html
html
    head
        link(rel='stylesheet', href='../css/about.css')
    body
        nav.container
            div.grid
                    div(class="column-xs-12 column-md-8")
                        p.logo Happy Pawz
                    div(class="column-xs-12 column-md-4")
                        ul
                            li
                                a(href="#") Our Employees
                                a(href="https://www.google.com/search?q=pets&source=lnms&tbm=isch&sa=X&ved=0ahUKEwigz__ZidXhAhWwxVkKHRBkDXwQ_AUIDigB&biw=563&bih=677") Media
                                a(href="https://github.com/didianca") Contact Us
        main.about
            div.container
                section(class="grid info")
                    div(class="column-xs-12 column-md-1")
                        div.about
                            h1.section-heading About Us
                    div(class="column-xs-12 column-md-4")
                        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Running_in_the_grass_yard%40Affectionate_Pet_Care.JPG/1200px-Running_in_the_grass_yard%40Affectionate_Pet_Care.JPG")
                    div(class="column-xs-12 column-md-7")
                        div.intro
                            h2 Happy Pawz is a pet daycare that can provide for all your pet's needs.
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa provident voluptatem consectetur illum, natus placeat incidunt tempora architecto aliquid recusandae eligendi repudiandae ex laborum neque quod cum id facere nulla.
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa provident voluptatem consectetur illum, natus placeat incidunt tempora architecto aliquid recusandae eligendi repudiandae ex laborum neque quod cum id facere nulla.
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa provident voluptatem consectetur illum, natus placeat incidunt tempora architecto aliquid recusandae eligendi repudiandae ex laborum neque quod cum id facere nulla.
                    div(class="column-xs-12 column-md-7")
                        blockquote
                            h3  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa provident voluptatem consectetur illum, natus placeat incidunt tempora architecto aliquid recusandae eligendi repudiandae ex laborum neque quod cum id facere nulla.
                    div(class="column-xs-12 column-md-5")
                        img(src="http://ankenyveterinaryclinic.com/wp-content/uploads/2016/01/Interior_FullPageV2.jpg")