doctype html
html
    head
        link(rel='stylesheet', href='../css/index.css')
    body
        nav
            ul
                li
                    a(href="./about.html") About
                li
                    a(href="https://www.google.com/search?q=pets&source=lnms&tbm=isch&sa=X&ved=0ahUKEwigz__ZidXhAhWwxVkKHRBkDXwQ_AUIDigB&biw=563&bih=677") Media
                li
                    a(href="https://github.com/didianca") Contact Us
        div#authentication-box
            nav
                ul
                    li#signup
                        a(href="./signup.html") Sign Up
            nav
                ul
                    li#login
                        a(href="./login.html") Login
