doctype html
html
    head
        link(rel='stylesheet', href='../css/index.css')
    body
        nav
            ul
                li
                    a(href="http://www.google.com") About
                li
                    a(href="http://www.google.com") Media
                li
                    a(href="https://github.com/didianca") Contact Us
        div#authentication-box
            nav
                ul
                    li#signup
                        a(href="#") Sign Up
            nav
                ul
                    li#login
                        a(href="#") Login
