doctype html
html
    head
        link(rel='stylesheet', href='../css/media.css')
        script(src='../scripts/media.js')
    body
        div#header
            nav
                ul
                    li
                        a(href="./about.html") About
                    li
                        a(href="https://github.com/didianca") Contact Us
                    li
                        a(href='./signup.html') Sign Up
                    li
                        a(href='./login.html') Login
        div#container
            div.photos
                ul.photo-gallery
                    li
                        a(href="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                            img(src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                    li
                        a(href="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                            img(src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                    li
                        a(href="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                            img(src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                    li
                        a(href="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")
                            img(src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg")

