doctype html
html
    head
        link(rel='stylesheet' href='../css/my-pets.css')
    body
        div.container
            div.title
                h2#title My Pets
        div#container
        -let petsArr=[{name: "Luna",info: "some info"},{name:"Cassie",info:"some info"}]
        each val in petsArr
            div.list-of-pets
                div.pet
                    if val.name
                        div.name
                            h3.petName= val.name
                        div.info
                            p.petInfo=val.info
                    else
                        h3.petName You did not register a pet yet...